{% extends "layout.html.twig" %}

{% block title %}Catégorie - TODO{% endblock %}

{% block categories %}
	{% for category in categories %}
		<li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
	{% endfor %}
{% endblock %}

{% block userBar %}<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span> Non connecté <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/login">S'identifier</a></li>
						</ul>
					</li>{% endblock %}

{% block content %}
		{% for plush in plushies %}
      <div class="row">
        <div class="col-md-2">
          <a class="thumbnail" href="/plush?id={{ plush.id }}">
						<img title="{{ plush.name }}" src="/images/plushies/{{ plush.image }}" />
					</a>
        </div>
      </di>
		{% endfor %}
{% endblock %}
